{% extends "base.html.twig" %}

{% block body %}
    <p> <h1>Bonjour Monsieur</p>
    <div class="col">
        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil culpa exercitationem blanditiis
             odio molestias vitae quibusdam cum qui inventore obcaecati quas facere, iste, illo 
             cupiditate, distinctio vel aliquam minima ad!</h2>
    </div>
{% endblock %}